/*Icons to the menu items.*/
.addContact > .label {
    -fx-graphic: url("./icons/add_contact.png");
}
/*Avoid icon on the accelerator text*/
.addContact > .accelerator-text{
    -fx-graphic: none;
}

.editContact > .label {
    -fx-graphic: url("./icons/edit_contact.png");
}

.editContact > .accelerator-text{
    -fx-graphic: none;
}

.removeContact > .label {
    -fx-graphic: url("./icons/remove_contact.png");
}

.removeContact > .accelerator-text{
    -fx-graphic: none;
}

/*Icons to the button items.*/
.addContactBtn {
    -fx-graphic: url("./icons/add_contact.png");
}

.editContactBtn {
    -fx-graphic: url("./icons/edit_contact.png");
}

.removeContactBtn  {
    -fx-graphic: url("./icons/remove_contact.png");
}